<nav class="navbar navbar-expand-lg bg-body-tertiary border-bottom" style="background-color: #698269;">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav w-100 justify-content-evenly">
          <li class="nav-item" >
            <a  class="nav-link text-decoration-none" routerLink="/registration"  style="color: #F1DBBF; ">Registration</a>
          </li>
          <li class="nav-item">
            <a  class="nav-link" routerLink="/students" style="color: #F1DBBF; ">Students</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/students/5" style="color: #F1DBBF; ">StudentDetails</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/error" style="color: #F1DBBF; ">Error</a>
          </li>
        </ul>
      </div>
    </div>
</nav>