<footer class="container-fluid text-center py-3" style="background-color: #698269;">
    <div class="row d-flex flex-column p-1" >
        <ul style="list-style: none;">
            <li>
                <span>LinkedIn: </span> <a style="color: #F1DBBF;"target="_blank" href="https://www.linkedin.com/in/ahmedmohamedzein/">https://www.linkedin.com/in/ahmedmohamedzein/</a>
            </li>
            <li>
                <span>Github: </span> <a style="color: #F1DBBF;" target="_blank" href="https://github.com/AhmedMohamedZein">https://github.com/AhmedMohamedZein</a>
            </li>
        </ul>
    </div>
</footer>
